<h1><a href="https://ngjoy.dev/">ngJoyValidators</a></h1>
<nav>
  <ul>
    <li><a routerLink="/ngJoyValidators" routerLinkActive="active">Validators - <small>Part 1</small></a></li>
    <li><a routerLink="/custom-validator-2" routerLinkActive="active">Validators - <small>Part 2</small></a></li>
    <li><a routerLink="/co-required" routerLinkActive="active">Conditional Validators - <small>Part 1</small></a></li>
    <li><a routerLink="/co-validators" routerLinkActive="active">Conditional Validators - <small>Part 2</small></a></li>
    <li><a routerLink="/credit-card-and-iban" routerLinkActive="active">Credit Card & iBAN</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
